{% extends "layout.html" %}
{% block content %}
<section class="content-6">
  <div>
    <div class="container">
      <h3><img src="{{ url_for('static', filename='img/flask@2x.png') }}" width="100" height="100" alt=""> Bubble Chart </h3>
      <p class="lead">All S&amp;P/ASX200 Stocks</p>
      <div id="bubble_chart" style="margin-top: 50px; width:100%; height:600px;">Loading chart...</div>
      <script src="{{ url_for('bubble_chart', element_id='bubble_chart') }}" type="text/javascript"></script>
    </div>
  </div>
</section>
{% endblock %}
