{% extends "layout.html" %}
{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
<section class="header-2-sub bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="hero-unit">
                    <h1>Pivotal Stocks is making ASX data<br>
                        simpler and more beautiful.</h1>
                </div>
                <div class="btns">
                    <a class="btn btn-info" href="{{ url_for('stocks')}}">View Stocks</a>
                    <a class="btn btn-success" href="{{ url_for('pivot')}}">Pivot Table Builder</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-9">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>1,900+ Listed Securities</h3>
                <p>Data is dynamically fetched from external data sources and stored in the Pivotal Stocks database.</p>
                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>Pivot Tables</h6>
                        Summarise data efficiently using the Pivot Table Builder.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Pivot Charts</h6>
                        Every Pivot Table can be graphed and visualised on Pivotal Stocks.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2 hidden-xs" style="padding-top: 50px">
                <img src="{{ url_for('static', filename='img/graph.png') }}" width="200" height="200" alt="">
            </div>
        </div>
    </div>
</section>

<section class="content-9">
    <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1 hidden-xs" style="padding-top: 50px">
              <img src="{{ url_for('static', filename='img/infinity-loop.png') }}" width="200" height="200" alt="">
          </div>
            <div class="col-sm-6 col-sm-offset-1 ">
                <h3>Advanced Data Analysis</h3>
                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>Filter</h6>
                        Optionally use up to 10 predicates to filter a single data field.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Row Label</h6>
                        Select any data field (or bin) to construct the row headers.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>Column Label</h6>
                        Select any data field (or bin) to construct the column headers.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Aggregation</h6>
                        Calculate the count, sum, average, minimum or maximum of aggregated field.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="content-9">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Lively Visualisations</h3>
                <p>Every Pivot Table comes with 2-dimensional bar chart and pie chart, visualising all aggregation values in the table.</p>
                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>Interactive</h6>
                        Mouseover any data point to see the exact values.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Animated</h6>
                        Pie charts have a gorgeous unique drilldown effect for viewing sub-slices.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2 hidden-xs" style="padding-top: 50px">
                <img src="{{ url_for('static', filename='img/map.png') }}" width="200" height="200" alt="">
            </div>
        </div>
    </div>
</section>

<section class="content-9">
    <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1 hidden-xs" style="padding-top: 50px">
              <img src="{{ url_for('static', filename='img/medal.png') }}" width="200" height="200" alt="">
          </div>
            <div class="col-sm-6 col-sm-offset-1 ">
                <h3>The Ultimate Chart</h3>
                <p>Explore almost all ASX companies in a single Bubble Chart with P/E ratio, Dividend Yield, Market Cap and Sector data all included.</p>
                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>Zooming</h6>
                        Select an area to zoom in to see more details.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Try it now</h6>
                        <a href="{{ url_for('bubble') }}" class="btn btn-default">Bubble Chart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="content-11">
    <div class="container">
        <span>Need some ideas on how to use Pivotal Stocks?</span>
        <a class="btn btn-large btn-danger" href="{{ url_for('observations') }}">Read our Observations</a>
    </div>
</section>
{% endblock %}
