<!doctype html>
<html>
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/vendor.min.js')}}" type="text/javascript"></script>

  <title>{% block title %}Pivotal Stocks{% endblock %}</title>
  {% endblock %}
</head>
<body>

  <header class="header-20">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="{{ url_for('index') }}">
                       Pivotal Stocks
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav">
                      <li {% if request.path == "/" %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
                      <li {% if request.path == "/stocks" %}class="active"{% endif %}><a href="{{ url_for('stocks') }}">Stocks</a></li>
                      <li {% if request.path.startswith("/pivot") %}class="active"{% endif %}><a href="{{ url_for('pivot')}}">Pivot Table</a></li>
                      <li {% if request.path == "/bubble" %}class="active"{% endif %}><a href="{{ url_for('bubble')}}">Bubble Chart</a></li>
                      <li {% if request.path == "/observations" %}class="active"{% endif %}><a href="{{ url_for('observations') }}">Observations</a></li>
                      <li {% if request.path == "/utilities" %}class="active"{% endif %}><a href="{{ url_for('utilities') }}"><span class="glyphicon glyphicon-cog"></span> Utilities</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>
<div class="flashes">
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">
      <h4>Message</h4>
      <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul></div>
    {% endif %}
    {% endwith %}
    {% if error %}
    <div class="alert alert-danger"><h4>Error</h4>{{ error }}</div>
    {% endif %}
  </div>
</div>

  {% block content %}{% endblock %}
<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-3">
                <a class="brand" href="{{ url_for('index') }}">Pivotal Stocks</a>
            </div>
            <div class="col-sm-6">
                <div class="additional-links">
                    <p>Made by Ryan Zhou, Siyi Wu and Shuaiqi Li in 2014. </p>
                    <p class="small">Disclaimer: Pivotal Stocks is not a commerical product. Any information in this web application does not constitute financial advice. Use at your own risk.</p>
                </div>
            </div>
            <div class="col-sm-3">
              <div class="address">
                  A Project for
              </div>
                <h6><b>INFO20002</b> <br>Foundations of Informatics</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
