{% extends "layout.html" %}
{% block content %}

<section class="content-6">
  <div>
    <div class="container">
      <h3><img src="{{ url_for('static', filename='img/storage@2x.png') }}" width="100" height="100" alt=""> Data Explorer </h3>
      <p class="lead">List of all securities in database</p>
      <div class="row features">
        <div class="col-sm-12">
          <table class="table table-striped table-bordered" id="dataTable">
            <thead>
              <th>ASX Code</th>
              <th>Company Name</th>
              <th>Sector</th>
              <th class="right">Market Cap</th>
              <th class="right">P/E Ratio</th>
              <th class="right">Dividend %</th>
              <th class="right">Franking %</th>
              <th class="right">3-Year TSR</th>
            </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td>{{ stock['asx_code']}}</td>
                <td>{{ stock['company_name']}}</td>
                <td>{{ stock['sector'] }}</td>
                <td class="right">{{ stock['market_cap'] | big_number }}</td>
                <td class="right">{{ stock['pe_ratio'] }}</td>
                <td class="right">{{ stock['div_yield'] | percent }}</td>
                <td class="right">{{ stock['franking'] | percent }}</td>
                <td class="right">{{ stock['tsr_3y'] | percent }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready( function () {
    $('#dataTable').DataTable({
      "pageLength": 25,
      "order": [ 3, 'desc' ]
    });
} );
</script>

{% endblock %}
