{% extends "layout.html" %}
{% block title %}Utilities - {{ super() }}{% endblock %}
{% block content %}

<section class="content-6">
  <div>
    <div class="container">
      <h3><img src="{{ url_for('static', filename='img/settings.png') }}" width="100" height="100" alt=""> Utilities </h3>
      <p class="lead">Tools for database management</p>
      <div class="row features">
        <div class="col-sm-6">
          <h2>Initialise database</h2>
          <p>Use this function to load the schema into the built-in sqlite3 database.</p>
          <hr>
          <form action="{{ url_for('utilities_init_db')}}" method="post" class="form">
            <div class="form-group">
              <div class="checkbox">
                <label for="confirmation">
                  <input type="checkbox" name="confirmation"> I understand that this action will delete all data in the database
                </label>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <input type="submit" name="commit" class="btn btn-danger" value="Initialize Database"></input>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <h2>Data seeding</h2>
          <p>Use this function to import data from remote sources to the database.</p>
          <hr>
          <form action="{{ url_for('utilities_seed_data')}}" method="post" class="form">
            <div class="form-group">
              <h5>Available data sources:</h5>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="securities_list" checked> ASX Securities List <span class="light"><em>Source: AFR Smart Investor</em></span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="asx200_list" checked> ASX 200 Constituent List <span class="light"><em>Source: AFR</em></span>
                </label>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <input type="submit" name="commit" class="btn btn-primary" value="Import Data"></input>
              <p class="help-block">This process may take a while. Please be patient.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(':checkbox').checkbox();
</script>
{% endblock %}
