
h2 {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.right {
  text-align: right;
}

.footer {
  margin-top: 40px;
}

.light {
  opacity: 0.5;
}

table.pivot {
  font-size: 11px;
  color: #000;
}

table.table.pivot td{
  border: 0px;
}

table.pivot th{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  background-color: #DDD;
}

.toolbar {
  padding: 20px 0;
  text-align: center
}

.flashes .alert{
  margin-top: 40px;
}

.header-2-sub {
  padding-top: 130px;
}

.header-2-sub .hero-unit h1 {
  font-size: 36px;
  font-weight: 300;
}

.header-2-sub .background {
  background: url("../img/hero-bg.jpg");
  background-position: center;
  opacity: 0.5;
}

.content-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-2 {
  padding-top: 40px;
  padding-bottom: 60px;
}

.content-9 {
  padding-top: 80px;
  padding-bottom: 80px;
}
