@import url(http://fonts.googleapis.com/css?family=Montserrat);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/**
 * Content 2 stylesheet
 * */
.content-2 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-2 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 35px;
  font-weight: 300;
}
.content-2 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.999999999999996px;
}
.content-2 .btns {
  margin-top: 50px;
  font-size: 15px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-2 .btns .btn {
  padding: 9px 17px 10px 15px;
  margin-right: 28px;
}
.content-2 .btns .btn > [class^="fui-"] {
  font-size: 26px;
  font-weight: normal;
  color: #ffffff;
  margin: -2px 12px 0 0;
}
@media (max-width: 767px) {
  .content-2 .btns {
    margin-top: 35px;
  }
  .content-2 .col-sm-5.col-sm-offset-1 {
    margin-top: 45px;
  }
}
.content-2 .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f2f3f4;
  position: relative;
  overflow: hidden;
  height: 250px;
}
.content-2 .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
  padding-left: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**
 * Content 6 stylesheet
 * */
.content-6 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .content-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.content-6 h3 {
  margin: 0 0 21px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-6 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .content-6 h3 {
    margin-bottom: 15px;
  }
}
.content-6 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 26px;
}
.content-6 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-6 .lead {
    line-height: 1.25;
  }
}
.content-6.v-center,
.content-6 .v-center {
  display: table;
  width: 100%;
}
.content-6.v-center > div,
.content-6 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-6.v-center,
  .content-6 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-6.v-center.row,
  .content-6 .v-center.row {
    display: block;
    width: auto;
  }
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
  .content-6.v-center.row > *,
  .content-6 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
@media (max-width: 480px) {
  .content-6 {
    padding-bottom: 210px;
  }
}
.content-6 .features > * {
  margin-top: 40px;
}
.content-6 .features h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
/**
 * Content 9 stylesheet
 * */
.content-9 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-9 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
  font-weight: 300;
}
.content-9 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 30px;
}
.content-9 h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-9 .info {
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .content-9 .info {
    margin-top: 20px;
  }
}
/**
 * Content 11 stylesheet
 * */
.content-11 {
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgba(241, 196, 15, 0.1);
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.content-11 > .container {
  position: relative;
}
.content-11 .btn {
  margin-left: 33px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 480px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
@media (max-width: 614px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
